{% extends 'navbar.html' %}
{% block head %}
<script>
    $(document).ready(function () {

        $("#submit").on("click", function () {
            // $.post("/login",$("#loginForm").serialize())
            console.log($("#loginForm").serialize())
            $.post("/login",$("#loginForm").serialize())
        })
        $("#username").on("keyup",function(){
            if($("#username").val().length>=3){
                console.log("search")
            }
            
        })
    })
</script>

{% endblock %}
{% block title %}
Index
{% endblock %}


{% block body %}
<form method="POST" id="loginForm">
    <label for="username">Username</label>: <input type="text" id="username" name="username"><br>
    <label for="Password">Password</label>: <input type="text" id="password" name="password"><br>
    <button type="button" id="submit">Submit</button>
</form>
{% endblock %}